.bg-custom {
  background: rgb(64, 55, 213);
  background: linear-gradient(
    90deg,
    rgba(64, 55, 213, 0.5700483091787439) 19%,
    rgba(232, 194, 77, 0.5483091787439613) 60%,
    rgba(217, 195, 35, 0.5048309178743962) 89%
  );
}

body {
  height: 100vh;
}

footer {
  margin-top: auto;
  height: 100px;
}
li {
  list-style-type: none;
}

@media (width: 450px) {
}
